- title "Spaceships"

%table
  %tr
    %th Name
    %th Class
    %th Purpose
    %th Weapons
    %th Number of crew members
    %th Flight plans
  - for spaceship in @spaceships
    %tr
      %td= h spaceship.name
      %td= h spaceship.class
      %td= h spaceship.purpose
      %td= h spaceship.weapons
      %td= h spaceship.number_of_crew_members
      %td= h spaceship.flight_plans
      %td= link_to 'Show', spaceship
      %td= link_to 'Edit', edit_spaceship_path(spaceship)
      %td= link_to 'Destroy', spaceship, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Spaceship", new_spaceship_path
